.Nav-Container{
    border-top: 2px solid rgba(238, 97, 39, 1);
    position: fixed;
    background: linear-gradient(30deg, transparent 60px, rgba(14, 17, 53, 0.9) 0),
    linear-gradient(-30deg, transparent 60px, rgba(14, 17, 53, 0.8) 0);
    /* border-radius: 0px 0px 440px 440px; */
}


.NavDj-Icon{
    width: 120px;
    height: 100px;
    position: absolute;
    /* top: 90px; */
    left: 44%;
    background-color: #0E1135;
    border: 2px solid rgba(238, 97, 39, 1);
    border-radius: 0 0 40px 40px;
}

.NavDj-Icon img{
    width: 60px;
    height: 70px
}